<tr class="sponsor">
<td class="sponsor-logo">
  <% if (url) { %>
  <a href="<%= url %>"><img src="<%= logo %>"></img></a>
  <% } else { %>
  <img src="<%= logo %>"></img>
  <% } %>
</td>
<td class="sponsor-name">
  <% if (url) { %>
  <a href="<%= url %>"><h3><%= name %></h3></a>
  <% } else { %>
  <h3><%= name %></h3>
  <% } %>
</td>
<td class="sponsor-amount">
  <h3>$ <%= amount.toFixed(2) %></h3>
</td>
</tr>
